<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>COVID19-SA </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicons.ico') }}" />

    <!-- Fonts -->
    <!-- Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400,600,700"
        rel="stylesheet">

    <!-- CSS -->

    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
        integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">


    <link rel="stylesheet" href="{{ url_for('static',filename='styles/themefisher-fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/responsive.css') }}">
</head>

<body id="body">

    <div id="preloader">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>

    <!-- 
	    Header start
	    ==================== -->
    <div class="container">
        <nav class="navbar navbar-fixed-top  navigation " id="top-nav">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
            </a>

            <button class="navbar-toggler hidden-lg-up float-lg-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
                <i class="tf-ion-android-menu"></i>
            </button>
            <div class="collapse navbar-toggleable-md" id="navbarResponsive">
                <ul class="nav navbar-nav menu float-lg-right" id="top-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#visual">VISUALIZE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/weishancc/COVID19-SA" target="_blank">GITHUB</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <section class="hero-area bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="block">
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s" data-wow-duration=".7s">ANALYZE SENTIMENT
                            ONLINE</h1>
                        <p class="wow fadeInDown" data-wow-delay="0.4s" data-wow-duration=".7s">Use fine-tuned bert
                            model based on social networks to analyze sentiment efficiently</p>
                        <br>
                        <div class="wow fadeInDown" data-wow-delay="0.7s" data-wow-duration=".7s">
                            <div class="input-group">

                                <input type="text" id="sentence" class="form-control" placeholder="Type Sentence Here">
                                <span class="input-group-btn">
                                    <button class="btn btn-home" type="button" onclick="predict()"> Analyze</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 wow zoomIn">
                    <div class="block">
                        <div class="counter text-center">
                            <ul>
                                <li>
                                    <div class="text" id="prediction"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- header close -->


    <!-- 
        About start
        ==================== -->
    <section class="section about bg-gray" id="visual">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 wow fadeInLeft">
                    <div class="content">
                        <div class="sub-heading">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsa recusandae
                                consequatur veniam, reiciendis odit quia eaque vel eius a.</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla-mco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aspernatur.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section><!-- #about close -->


    <section clas="wow fadeInUp">
        <div class="map-wrapper">
        </div>
    </section>


    <!-- Js -->
    <script src="{{ url_for('static', filename='js/vendor/jquery-2.1.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
        integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
        integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>


    <script>
        function myFunction() {
            document.getElementById("sentence").value = innerHTML = "123";
        }
    </script>

</body>

</html>
